:root {
--bg-dark: #181818;
--bg-light: #ffffff;
--text-light: #181818;
--text-dark: #ffffff;
font-family: 'Raleway', sans-serif;
}


html, body {
background: var(--bg-dark);
padding: 0;
margin: 0;

}

/* Nav Bar */
nav {
display: flex;
justify-content: center;
position: sticky;
top: 0;
padding: 15px 0px;
background: var(--bg-dark);
}

#navContent {
width: 50%;
display: flex;
justify-content: space-around;  
}

#navContent a{
color: var(--text-dark);
text-decoration: none;
}

#navContent a:hover {
opacity: 25%;
}
/* Nav Bar */

#article-image {
display: flex;
justify-content: center;
margin: 2% 0px;
}


#article-image img{
width: 55%;
height: 500px;
background-size: contain;
background-repeat: no-repeat;
border-radius: 12px;
}

.blog-content {
display: grid;
grid-template-columns: repeat(1, 55%);
justify-content: center;
}

.blog-content h2 {
color: var(--text-dark);	
font-size: 1.7rem;
}

.blog-content p {
color: var(--text-dark);
line-height: 1.8;
}

