:root {
--bg-dark: #181818;
--bg-light: #ffffff;
--text-light: #181818;
--text-dark: #ffffff;
font-family: 'Lato', sans-serif;
}

html {
background: #000000;
background-color: #000000;

}

html, body {
background: #000000;
background: url('image/Abstract Paper.svg');
background-size: contain;
padding: 0;
margin: 0;
color: var(--text-dark);
scroll-behavior: smooth;
}


#navbar {
position: sticky;
top: 0;
display: flex;
width: 100%;
z-index: 9;
background: rgba( 22, 22, 22, 0.9);
}

#nav-content {
padding: 20px 20px;
}

#nav-content a{
color: var(--text-dark);
text-decoration: none;
padding: 0px 10px;
}

/* intro */


#hero {
padding: 230px 20px;
display: flex;
justify-content: center;
}


.image-and-header {
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
}

.image-and-header h1 {
font-size: 5rem;
margin: 0px;
}

.image-and-header img {
width: 300px;
height: 300px;
border-radius: 50%;
object-fit: cover;
object-position: top;
border: 3px solid white;
}


.skills-list-desktop {
display: flex;
gap: 10px;
}

.skills-list-mobile {
display: none;
}

/* ----- intro end --- */

.section-style {
margin-top: 4%;
padding: 40px 35px;
}

#about {
background: rgba( 49, 49, 49, 0.7 );
box-shadow: rgba(102, 102, 102, 0.2) 6px 7px 12px 3px;
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#about p {
font-size: 1.2em;
}

.about-content {
line-height: 1.5;
}



.card-container {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 20px;
margin-top: 200px;
}


.card {
height: 200px;
width:  400px;
display: inline-flex;
justify-content: center;
}


.card-top {
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 8px;
width: 400px;
background: white;
height: 200px;
position: absolute;
z-index: 8;
transition: transform 1s;
}


.card1 {
background: url('https://www.slashfilm.com/img/gallery/one-piece-film-red-showcases-luffys-new-transformation-for-the-first-time/l-intro-1667316814.jpg');  
background-size: cover;
border: 3px solid white;
}

.card2 {
background: url('https://www.slashfilm.com/img/gallery/one-piece-film-red-showcases-luffys-new-transformation-for-the-first-time/l-intro-1667316814.jpg');  
background-size: cover;
border: 3px solid white;
}

.card3 {
background: url('https://www.slashfilm.com/img/gallery/one-piece-film-red-showcases-luffys-new-transformation-for-the-first-time/l-intro-1667316814.jpg');  
background-size: cover;
border: 3px solid white;
}


.card:hover .card-top {
transform: translateY(-120px);
}

.card-bottom {
background: linear-gradient(#8e9eab, #eef2f3);
color: #212427;
width: 100%;
height: 200px;
border-radius: 8px;
}

.card-contents {
padding: 90px 35px 0px 35px;
display: flex;
flex-direction: column;
align-items: center;

}

.card-contents p{
margin: 7px 0px;
}

.card-title {
font-weight: bold;
font-size: 1.3em;
}


footer {
margin-top: 10%;
height: 200px;
background: #000000;
}



@media (width <= 970px) {
    
.image-and-header {
flex-direction: column;
}

.image-and-header h1 {
font-size: 2rem;
text-align: center;
}

.image-and-header img {
height: 150px;
width: 150px;
}


.header-list br {
 display: none;   
}

}



/* iphone media query */
@media only screen and (max-device-width: 480px) { 

#hero {
padding: 50px 20px;
}

.skills-list {
display: none;    
}

.skills-list {
margin-top: 30px;
display: flex;
flex-direction: column;
background: #808080;
padding: 20px 100px;
text-align: center;
}

.skills-list p {
margin: 0px;

}

.image-and-header {
flex-direction: column;
}

.image-and-header h1 {
font-size: 2rem;
text-align: center;
}

.image-and-header img {
height: 150px;
width: 150px;
}


.header-list br {
 display: none;   
}


}



@media (width <= 476px) {

.skills-list-desktop {
display: flex;
flex-direction: column;
background: #808080;
padding: 20px 100px;
text-align: center;
}

.skills-list-desktop p {
margin: 0px;

}

}
                              
                                                   