:root {
--bg-dark: #181818;
--bg-light: #ffffff;
--text-light: #181818;
--text-dark: #ffffff;
}

html, body {
padding: 0;
margin: 0;
background: var(--bg-dark);
color: var(--text-dark);
font-family: 'Raleway', sans-serif;
}


#page-top {
width: 100%;
display: flex;
justify-content: center;
}

#welcome {
margin-top: 25px;
box-shadow: rgba(255,255,255, 0.5) 0px 2px 8px 0px;
border-radius: 12px;
background: #f2f2f2;
padding: 20px 25px;
text-align: center;
color: black;
font-weight: bold;
}

